{% extends "base.html" %}
{% block title %}{{SITENAME}}, Index / Archives{%endblock%}
{% block content %}
{% if articles %}
<div class="archive">
	<div class="post">
		<h1 class="title">Articles Index / Archive</h1>
	</div>
	{% for article in articles %}
	<div class="post">
		<h2 class="title"><a href="{{ article.url }}">{{article.title}}</a></h2>
		<div class="date">
			{{article.locale_date}}
		</div>
		<div class="body">
			{{article.summary}}
		</div>
	</div>
	{% endfor %}
</div>
{% endif %}
{% endblock %}
