<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		{% if FEED_ALL_ATOM %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
		{% endif %}
		<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
		<script type="text/javascript">
			<!--
			if ((window.screen.width < 640) || (window.screen.height < 640)) {
				document.write('<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1">')
			}
			//-->
		</script>
		<meta name="author" content="{{AUTHOR}}">
		<link rel="shortcut icon" type="image/x-icon" href="{{SITEURL_SUFFIX}}/favicon.ico">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" media="all">
		<link rel="stylesheet" type="text/css" href="{{SITEURL_SUFFIX}}/theme/css/stanfordmodern.css" media="all">
		<link rel="stylesheet" type="text/css" href="{{SITEURL_SUFFIX}}/theme/css/su-identity.css" media="all">
		<link rel="stylesheet" type="text/css" href="{{SITEURL_SUFFIX}}/theme/css/mobile.css" media="only screen and (max-width: 640px)">
		<link rel="stylesheet" type="text/css" href="{{SITEURL_SUFFIX}}/theme/css/print.css" media="print">
	</head>
	<body class="nav">
		<div id="su-wrap">
			<div id="su-content">
				<div id="layout">
					<div id="wrapper">
						<div id="header">
							<div class="container">
								<div id="logo">
									<a href="{{SITEURL_SUFFIX}}/" style="border: none;"><img src="{{SITEURL_SUFFIX}}/theme/img/stanford-white@2x.png" alt="Stanford" width="160" height="34"></a>
								</div>
								<div id="site">
									<div id="name">
										<a href="{{SITEURL_SUFFIX}}/"><span>{{SITENAME}}</span></a>
									</div>
								</div>
								<div id="search">
									<form action="http://www.stanford.edu/search" id="cse-search-box">
										<div class="searchbox">
											<input type="hidden" name="cx" value="003265255082301896483:sq5n7qoyfh8" />
											<input type="hidden" name="cof" value="FORID:9" />
											<input type="hidden" name="ie" value="UTF-8" />
											<input type="text" name="q" size="31" />
											<input type="hidden" name="as_dt" value="i" />
											<input type="hidden" name="as_sitesearch" value="{{SITEURL_SUFFIX}}/" />
											<input class="form-submit" type="submit" name="sa" value="Search" />
										</div>
									</form>
								</div>
							</div>
						</div>
						<div id="nav">
							<ul>
								<li>
									<a href="{{SITEURL_SUFFIX}}/pages/about.html" title="Find out how irrelevant I am...">About</a>
								</li>
								<li>
									<a href="{{SITEURL_SUFFIX}}/pages/contact.html" title="Get in touch with me">Contact</a>
								</li>
								<li>
									<a href="{{SITEURL_SUFFIX}}/tags.html" title="A listing of all artciles by tags">Tags</a>
								</li>
								<li>
									<a href="{{SITEURL_SUFFIX}}/archives.html" title="A listing of all articles">Archive</a>
								</li>
							</ul>
						</div>

						<div id="container">
							{% block content %}
							{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="global-footer">
			<div class="container">
				<div class="row">
					<div id="bottom-logo" class="span2">
						<a href="http://www.stanford.edu/" style="border: none;"> <img src="{{SITEURL_SUFFIX}}/theme/img/footer-stanford-logo@2x.png" alt="Stanford University" width="105" height="49"> </a>
					</div>
					<div id="bottom-text" class="span10">
						<ul>
							<li class="home">
								<a href="http://www.stanford.edu/">SU Home</a>
							</li>
							<li class="maps alt">
								<a href="http://visit.stanford.edu/plan/maps.html">Maps &amp; Directions</a>
							</li>
							<li class="search-stanford">
								<a href="http://www.stanford.edu/search/">Search Stanford</a>
							</li>
							<li class="terms alt">
								<a href="http://www.stanford.edu/site/terms.html">Terms of Use</a>
							</li>
							<li class="copyright">
								<a href="http://www.stanford.edu/site/copyright.html">Copyright Complaints</a>
							</li>
						</ul>
					</div>
					<p class="copyright vcard">
						&copy; <a href="{{SITEURL_SUFFIX}}/pages/about">Marcelo Moreira</a> under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a> &mdash; Powered by <a href="http://getpelican.com/">Pelican</a> &amp; <a href="http://python.org/">Python</a>. Fork me on <a href="https://github.com/marcelom/websites">github</a>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>