{% extends "base.html" %}
{% block content %}
{% if articles %}
<h1 class=""><a href="{{articles[0].url}}">{{articles[0].title}}</a></h1>
<div id="content">
	<div id="center">
		<div id="dateandtags" style="
		float: left;
		margin-left: -120px;
		border-right: 1px solid #d0d0d0;
		width: 100px;
		">
			{{ articles[0].date.strftime("%a
			<br>
			%d
			<br>
			%b
			<br>
			%Y") }}
			<ul>
				<li>
					tag1
				</li>
				<li>
					tag2
				</li>
			</ul>
		</div>
		{{articles[0].content}}
	</div>
</div>
{% endif %}
{% endblock %}
