/* Marcelo.css, Pelican theme */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url("reset.css");

body {
	background-color: white;
	color: black;
	font: 16px sans-serif;
}

#container {
	width: 960px;
	margin: 0 auto;
}

#header {
	margin: 0 0 10px;
	padding: .5em;
	background: black;
	border-bottom-left-radius: .6em;
	border-bottom-right-radius: .6em;
}

#header h1 {
	font-size: 2.8em;
	text-align: center;
}

#header h1 a {
	font-style: italic;
	color: white;
	text-decoration: none;
	text-shadow: 1px 1px lightgray;
}

#header nav {
	text-align: center;
	font-style: italic;
	font-size: .9em;
}

#header nav a:link, #header nav a:visited {
	display: inline-block;
	padding: .2em .4em .2em;
	text-decoration: none;
	color: lightgray;
}

#header nav a:hover, #header nav a:active {
	text-decoration: underline;
}

#content div.title {
	padding-bottom: 1em;
}

#content div.title img {
	float: right;
	padding: 2px;
	height: 24px;
	width: 24px;
}

#content div.title p, #footer p {
	font-size: .6em;
}

#footer p {
	text-align: center;
	padding-top: 1em;
}

#content div.title p a, #footer p a {
	font-style: italic;
	color: black;
}

#content div.title p a:hover, #footer p a:hover {
	text-decoration: underline;
}

#content div.title h1 {
	font-size: 2.4em;
	font-style: italic;
}

#content div.title h1 a {
	font-style: italic;
	color: black;
	text-decoration: none;
	text-shadow: 1px 1px lightgray;
}

#content div.title h1 a:hover {
	text-decoration: underline;
}

.articlecontent {
	font-size: 16px;
	line-height: 1.5em;
}

.articlecontent ul, .articlecontent ol {
	padding: 1em 0 1em 3em;
}

.articlecontent ul {
	list-style: disc
}

.articlecontent ol {
	list-style: decimal
}

.articlecontent h1 {
	padding: .8em 0 .5em;
	font-size: 2.1em;
	font-style: italic;
	text-shadow: 1px 1px lightgray;
}

.articlecontent h2 {
	padding: .8em 0 .5em;
	font-size: 1.8em;
	font-style: italic;
	text-shadow: 1px 1px lightgray;
}

