{% extends "base.html" %}
{% block title %}{{SITENAME}}, Index / Archives{%endblock%}
{% block content %}
<div class="post">
	<div class="title">
		<h1>Articles Index / Archive</h1>
	</div>
	{% for article in articles %}
	<div id="{{article.slug}}" class="title">
		<p>
			<a href="{{articles[0].url}}">Permalink</a>  &mdash;
			Posted on {{ article.locale_date }}, under:
			{% for tag in article.tags %}
			<a href="{{tag.url}}">{{tag}}</a>{% if not loop.last %} &bull; {% endif %}
			{% endfor %}
		</p>
		<h2><a href="{{ article.url }}">{{article.title}}</a></h2>
		<span>{{article.summary}}</span>
	</div>
	{% endfor %}
</div>
{% endblock %}
