<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		{% if FEED_ALL_ATOM %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
		{% endif %}
		<meta name="viewport" content="width=device-width, initial-scale=0.5, minimum-scale=0.45, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
		<meta name="author" content="{{AUTHOR}}">
		<link media="screen" rel="stylesheet" type="text/css" href="{{SITEURL_SUFFIX}}/theme/css/marcelo.css">
		<link media="screen" rel="stylesheet" type="text/css" href="{{SITEURL_SUFFIX}}/theme/css/solarized.css">
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1><a href="{{SITEURL_SUFFIX}}/">{{SITENAME}}</a></h1>
			</div>
			<div id="navigation">
				<ul>
					<li class="item-left">
						<a href="{{SITEURL_SUFFIX}}/" title="Go back home !">Home</a>
					</li>
					<li>
						<a href="{{SITEURL_SUFFIX}}/pages/about.html" title="Find out how irrelevant I am...">about</a>
					</li>
					<li>
						<a href="{{SITEURL_SUFFIX}}/pages/contact.html" title="Get in touch with me">contact</a>
					</li>
					<li>
						<a href="{{SITEURL_SUFFIX}}/tags.html" title="A listing of all tags">tags</a>
					</li>
					<li>
						<a href="{{SITEURL_SUFFIX}}/archives.html" title="A listing of all articles">archive</a>
					</li>
				</ul>
			</div>

			<div id="body">

				<h2>Examples</h2>

				<h1>Heading H1</h1>
				<h2>Heading H2</h2>
				<h3>Heading H3</h3>
				<h4>Heading H4</h4>
				<h5>Heading H5</h5>

				<p>
					&nbsp;
				</p>

				<h3>Lists</h3>
				<ul>
					<li>
						List item
					</li>
					<li>
						List item
					</li>
					<li>
						List item
					</li>
				</ul>

				<ol>
					<li>
						List item
					</li>
					<li>
						List item
					</li>
					<li>
						List item
					</li>
				</ol>

				<p>
					&nbsp;
				</p>

				<h3>Code and blockquote</h3>
				<code>
					&lt;? echo('Hello world'); ?&gt;
				</code>

				<blockquote>
					<p>
						Mauris sit amet tortor in urna tincidunt aliquam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas
					</p>
				</blockquote>

				<p>
					&nbsp;
				</p>

				<h3>Table</h3>

				<table cellspacing="0">
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Age</th>
					</tr>

					<tr>
						<td>1</td>
						<td>John Smith</td>
						<td>28</td>
					</tr>

					<tr>
						<td>2</td>
						<td>Fred James</td>
						<td>49</td>
					</tr>

					<tr>
						<td>3</td>
						<td>Rachel Johnson</td>
						<td>19</td>
					</tr>

				</table>

				<p>
					&nbsp;
				</p>

				<h3>Form</h3>

				<fieldset>
					<legend>
						Form legend
					</legend>
					<form action="#" method="get">
						<p>
							<label for="name">Name:</label>
							<input name="name" id="name" value="" type="text">
						</p>
						<p>
							<label for="email">Email:</label>
							<input name="email" id="email" value="" type="text">
						</p>
						<p>
							<label for="message">Message:</label>
							<textarea cols="60" rows="11" name="message" id="message"></textarea>
						</p>
						<p>
							<input name="send" class="formbutton" value="Send" type="submit">
						</p>
					</form>
				</fieldset>

			</div>

			<div id="footer">
				<p>
					&copy; <a href="{{SITEURL_SUFFIX}}/pages/about.html">Marcelo Moreira</a> under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
					Site powered by <a href="http://getpelican.com/">Pelican</a> &amp; <a href="http://python.org/">Python</a>. Fork me on <a href="https://github.com/marcelom/websites">github</a>.
				</p>
			</div>
		</div>
	</body>
</html>
