{% extends "base.html" %}
{% block content %}

<div class="post">

	<!--<h1 class="title"><a href="{{ SITEURL }}/{{ articles[0].url }}">{{articles[0].title}}</a></h1>-->
	<h1 class="title">You should have not reached this page...</h1>
	<div class="body">
		<p>
			If you have reached this page, then it was an error. Please, <a href="{{SITEURL_SUFFIX}}/pages/contact">contact me</a> about it. Thanks !
		</p>
	</div>

	<div class="feedback">
		<a href="{{SITEURL_SUFFIX}}/pages/contact">Contact me</a>.
	</div>
</div>

{% endblock %}
