<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		{% if FEED_ALL_ATOM %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
		{% endif %}
		<meta name="viewport" content="width=device-width, initial-scale=0.5, minimum-scale=0.45, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
		<meta name="author" content="{{AUTHOR}}">
		<link media="screen" rel="stylesheet" type="text/css" href="{{SITEURL_SUFFIX}}/theme/css/stirred.css">
		<link media="screen" rel="stylesheet" type="text/css" href="{{SITEURL_SUFFIX}}/theme/css/solarized.css">
	</head>
	<body>
		<div id="title">
			<h1><a href="{{SITEURL_SUFFIX}}/" class="go-home">{{SITENAME}}</a></h1>
			<ul>
				<li>
					<a href="{{SITEURL_SUFFIX}}/pages/about.html" title="Find out how irrelevant I am...">about</a>
				</li>
				<li>
					<a href="{{SITEURL_SUFFIX}}/pages/contact.html" title="Get in touch with me">contact</a>
				</li>
				<li>
					<a href="{{SITEURL_SUFFIX}}/tags.html" title="A listing of all tags">tags</a>
				</li>
				<li>
					<a href="{{SITEURL_SUFFIX}}/archives.html" title="A listing of all articles">archive</a>
				</li>
			</ul>
		</div>

		<div id="content">
			{% block content %}
			{% endblock %}
			<div id="copyright">
				<p>
					<a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0;" src="http://i.creativecommons.org/l/by/3.0/80x15.png"></a>
					All original content is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.  Content quoted from elsewhere, including source code, is covered by the original sources' respective licenses.
				</p>
				<p>
					&copy; <a href="{{SITEURL_SUFFIX}}/pages/about">Marcelo Moreira</a> &mdash; Powered by <a href="http://getpelican.com/">Pelican</a> &amp; <a href="http://python.org/">Python</a>. Fork me on <a href="https://github.com/marcelom/websites">github</a>. Theme based on <a href="http://philipm.at/">Philip Mat's website</a>.
				</p>
			</div>
		</div>
	</body>
</html>