<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		{% if FEED_ALL_ATOM %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
		{% endif %}
		<!-- <meta name="viewport" content="width=device-width, initial-scale=0.5, minimum-scale=0.45, maximum-scale=1" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-touch-fullscreen" content="yes" />-->
		<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
		<meta name="author" content="{{AUTHOR}}" />
		<link rel="stylesheet" type="text/css" href="{{SITEURL_SUFFIX}}/theme/css/syntax.css" />
		<link rel="stylesheet" type="text/css" media="screen, projection" href="{{SITEURL_SUFFIX}}/theme/css/screen.css" />
		<link rel="shortcut icon" type="image/x-icon" href="{{SITEURL_SUFFIX}}/favicon.ico" />

	</head>
	<body>
		<div class="site">
			<div class="title">
				<a href="{{SITEURL_SUFFIX}}/">{{SITENAME}}</a>
				<a class="extra" href="{{SITEURL_SUFFIX}}/" title="Take me home !">Home</a>
				<a class="extra" href="{{SITEURL_SUFFIX}}/pages/aboutme.html" title="Find out how irrelevant I am...">About Me</a>
			</div>
			{% block content %}
			{% endblock %}
			<div class="footer">
				<div class="contact">
					<p>
						&copy; <a href="{{SITEURL_SUFFIX}}/pages/aboutme.html">Marcelo Moreira</a>
						<br />
						Cofounder of <a href="http://github.com/">GitHub</a>
						<br />
						tom@mojombo.com
					</p>
				</div>
				<div class="contact">
					<p>
						<a href="http://github.com/mojombo/">github.com/mojombo</a>
						<br />
						<a href="http://twitter.com/mojombo/">twitter.com/mojombo</a>
						<br />
						<a href="http://flickr.com/photos/mojombo/">flickr.com/photos/mojombo</a>
					</p>
				</div>
				<div class="rss">
					<a href="http://feeds.feedburner.com/tom-preston-werner"> <img src="/images/rss.png" alt="Subscribe to RSS Feed" /> </a>
				</div>
			</div>
		</div>

		<!-- githuib ribbon -->

		<!-- Google Analytics -->
		<!-- Google Analytics end -->

	</body>
</html>
