{% extends "base.html" %}
{% block content %}

{% if articles %}

<div class="post">

	<!--<h1 class="title"><a href="{{ SITEURL }}/{{ articles[0].url }}">{{articles[0].title}}</a></h1>-->
	<h1 class="title"><a href="{{ articles[0].url }}">{{articles[0].title}}</a></h1>
	<div class="date">
		{{ articles[0].locale_date }}
	</div>
	<div class="body">
		<!--By <a href="{{ SITEURL }}/{{ articles[0].author.url }}">{{ articles[0].author }}</a>
		{{articles[0].summary}}-->
		{{articles[0].content}}
	</div>

	<div class="feedback">
		<a href="/contact.html">Contact me</a>.
	</div>
</div>

{% endif %}

{% endblock %}
