{% extends "base.html" %}
{% block content %}
<div id="home">
	<h1>Blog Posts</h1>
	<ul class="posts">
		{% for post in articles %}
		<li>
			<span>{{ post.locale_date }}</span> &bull; <a href="{{ post.url }}">{{ post.title }}</a>
		</li>
		{% endfor %}
	</ul>

	<!--
	<h1>Highlighted Talks</h1>
	<ul class="posts">
	<li>
	<span>dd mmm yyyy</span> &bull; <a href="#">Talk 1</a>
	</li>
	<li>
	<span>dd mmm yyyy</span> &bull; <a href="#">Talk 2</a>
	</li>
	<li>
	<span>dd mmm yyyy</span> &bull; <a href="#">Talk 3</a>
	</li>
	</ul>
	-->

	<!--
	<h1>Other Interviews, Talks, Etc</h1>
	<ul class="posts">
	<li>
	<span>dd mmm yyyy</span> &bull; <a href="#">Other 1</a>
	</li>
	<li>
	<span>dd mmm yyyy</span> &bull; <a href="#">Other 2</a>
	</li>
	<li>
	<span>dd mmm yyyy</span> &bull; <a href="#">Other 3</a>
	</li>
	</ul>
	-->

	<!--
	<h1>Links</h1>
	<ul class="posts">
	<li>
	<a href="http://www.stanford.edu/~marcelom/tools">Tools:</a> Antivirus remover, Tcpview, Procexplorer, etc &mdash; (protected).
	</li>
	<li>
	<a href="http://www.stanford.edu">Stanford:</a> Stanfdord University's main website.
	</li>
	</ul>
	-->

	<h1>Software I use and I am grateful for...</h1>
	<ul class="posts">
		<li>
			<a href="http://git-scm.com">Git:</a> For version control.
		</li>
		<li>
			<a href="http://www.ubuntu.com">Ubuntu Linux:</a> OS of choice for pretty much everything.
		</li>
		<li>
			<a href="http://www.python.org">Python:</a> Great language: where has it been all these years ?!?!?! I started using it a few years ago. I just wish I had started sooner..
		</li>
	</ul>

	<h1>Software I have to use, but could live without...</h1>
	<ul class="posts">
		<li>
			<a href="http://www.redhat.com">Redhat Linux:</a> Use it at work because sometimes I just have to. Seriously, not a big fan...
		</li>
		<li>
			<a href="http://www.ruby-lang.org">Ruby:</a> Bump over it on a few scripts here and there. Plus, some of the folks I work with are crazy for it.
		</li>
	</ul>

</div>
{% endblock %}
