/* Marcelo.css, Pelican theme */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url("reset.css");

body {
	background-color: white;
	color: black;
}

#container {
	width: 960px;
	margin: 0 auto;
}

#header {
	margin: 0 0 10px;
	padding: 10px;
	background: black;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#header h1 {
	font-size: 45px;
	text-align: center;
}

#header h1 a {
	font-style: italic;
	color: white;
	text-decoration: none;
	text-shadow: 1px 1px lightgray;
}

#header nav {
	text-align: center;
	font-style: italic;
	font-size: 16px;
}

#header nav a:link, #header nav a:visited {
	display: inline-block;
	padding: 5px;
	text-decoration: none;
	color: lightgray;
}

#header nav a:hover, #header nav a:active {
	text-decoration: underline;
}

#content div.title img {
	float: right;
	padding: 2px;
	height: 24px;
	width: 24px;
}

#content div.title p, #footer p {
	font-size: 10px;
	font-family: sans-serif;
}

#footer p {
	text-align: center;
	padding-top: 15px;
}

#content div.title p a, #footer p a {
	font-style: italic;
	color: black;
	text-decoration: none;
}

#content div.title p a:hover, #footer p a:hover {
	text-decoration: underline;
}

#content div.title h1 {
	font-size: 40px;
	font-family: sans-serif;
	font-style: italic;
	text-shadow: 1px 1px lightgray;
	/*padding: 10px 0 10px;*/
	padding-bottom: 14px;
}

#content div.title h1 a {
	font-style: italic;
	color: black;
	text-decoration: none;
}

#content div.title h1 a:hover {
	text-decoration: underline;
}
