<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{% block title %}{{ SITENAME }}{%endblock%}</title>
		<script type="text/javascript">
			<!--
			if ((window.screen.width < 640) || (window.screen.height < 640)) {
				document.write('<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1">')
			}
			//-->
		</script>

		<link rel="shortcut icon" type="image/x-icon" href="https://www.stanford.edu/favicon.ico">
		<link rel="stylesheet" type="text/css" href="https://www.stanford.edu/su-identity/css/su-identity.css" media="all">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" media="all">
		<link rel="stylesheet" type="text/css" href="https://www.stanford.edu/stanfordmodern/v2.5/css/stanfordmodern.css" media="all">
		<link rel="stylesheet" type="text/css" href="https://www.stanford.edu/stanfordmodern/v2.5/css/mobile.css" media="only screen and (max-width: 640px)">
		<link rel="stylesheet" type="text/css" href="https://www.stanford.edu/stanfordmodern/v2.5/css/print.css" media="print">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://www.stanford.edu/stanfordmodern/v2.5/js/stanfordmodern.js"></script>
		<link rel="stylesheet" type="text/css" href="css/custom.css">
		<script type="text/javascript" src="js/custom.js"></script>
		{% if FEED_ALL_ATOM %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
		{% endif %}

	</head>
	<body class="nav">
		<div id="su-wrap">
			<!-- #su-wrap start -->
			<div id="su-content">
				<!-- #su-content start -->
				<!-- Start #layout -->
				<div id="layout">
					<!-- Start #wrapper -->
					<div id="wrapper">
						<!-- Start #header -->
						<div id="header">
							<div class="container">
								<div id="logo">
									<a href="/" style="border: none;"><img src="https://www.stanford.edu/su-identity/images/stanford-white@2x.png" alt="Stanford" width="160" height="34"></a>
								</div>
								<div id="site">
									<div id="name">
										<a href="/"><span>{{ SITENAME }}</span></a>
									</div>
								</div>
								{% if SITE_SEARCH_BOX %}
								<div id="search">
									<form action="http://www.stanford.edu/search" id="cse-search-box">
										<div class="searchbox">
											<input type="hidden" name="cx" value="003265255082301896483:sq5n7qoyfh8" />
											<input type="hidden" name="cof" value="FORID:9" />
											<input type="hidden" name="ie" value="UTF-8" />
											<input type="text" name="q" size="31" />
											<input type="hidden" name="as_dt" value="i" />
											<input type="hidden" name="as_sitesearch" value="{{ SITEURL }}" />
											<input class="form-submit" name="sa" type="submit" value="Search">
										</div>
									</form>
								</div>
								{% endif %}
							</div>
						</div>
						<!-- End #header -->

						<!-- Start #nav (Removable) -->
						<div id="nav">
							<ul>
								<li>
									<a href="#">Home</a>
								</li>
								<li>
									<a href="#">About Me</a>
								</li>
								<li>
									<a href="#">Categories</a>
								</li>
								<li>
									<a href="#">Tags</a>
								</li>
								<li>
									<a href="#">Index</a>
								</li>
								{% if FEED_ALL_ATOM %}
								<li>
									<a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"><img src="Feed-icon.png" width="18" height="18" /></a>
								</li>
								{% endif %}
							</ul>
						</div>
						<!-- End #nav (Removable) -->

						<!-- Start #container -->
						<div id="container">
							<h1 class=""><!-- InstanceBeginEditable name="Page Title" -->Page Title<!-- InstanceEndEditable --></h1>
							<!-- Start #content -->
							<div id="content">
								<!-- Start #center -->
								<div id="center">
									<!-- InstanceBeginEditable name="content_main" -->
									<!--Optional Breadcrumb Start-->
									<div class="breadcrumb">
										<a href="#">Main Page</a> » <a href="#">Sub Page</a> » Current Page
									</div>
									<!--Optional Breadcrumb End-->
									<h2 id="c1">Heading</h2>
									<p>
										Praesent faucibus molestie orci. Vestibulum tincidunt tellus vel nisi. Morbi sed est at odio faucibus tempor. Vestibulum faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque eu odio sit amet nunc dictum consectetuer.
									</p>
									<h3>Sub-Heading</h3>
									<p>
										Vivamus sollicitudin, nulla eget dictum feugiat, nunc leo facilisis felis, a lacinia dui velit eget nibh. Etiam bibendum orci non ante. Quisque iaculis ligula sit amet dui lobortis laoreet. Fusce elit pede, rutrum vel, ultrices nec, sollicitudin ut, nunc. Nulla facilisi.
									</p>
									<h2 id="c2">Heading</h2>
									<p>
										Donec sollicitudin pharetra diam. Aliquam egestas tellus a elit. Phasellus et sem. Nulla nec lectus. Cras lobortis, enim nec dignissim condimentum, dui mi venenatis purus, at ullamcorper massa ipsum sed sapien. Proin fringilla sodales nunc. Suspendisse mollis tortor id nisi.
									</p>
									<!-- InstanceEndEditable -->
								</div>
								<!-- End #center -->
							</div>
							<!-- End #content -->
						</div>
						<!-- End #container -->
					</div>
					<!-- End #wrapper -->
				</div>
				<!-- End #layout -->
			</div>
			<!-- #su-content end -->
		</div>
		<!-- #su-wrap end -->

		<!-- Global footer snippet start -->
		<div id="global-footer">
			<div class="container">
				<div class="row">
					<div id="bottom-logo" class="span2">
						<a href="http://www.stanford.edu" style="border: none;"> <img src="https://www.stanford.edu/su-identity/images/footer-stanford-logo@2x.png" alt="Stanford University" width="105" height="49"> </a>
					</div>
					<!-- #bottom-logo end -->
					<div id="bottom-text" class="span10">
						<ul>
							<li class="home">
								<a href="http://www.stanford.edu">SU Home</a>
							</li>
							<li class="maps alt">
								<a href="http://visit.stanford.edu/plan/maps.html">Maps &amp; Directions</a>
							</li>
							<li class="search-stanford">
								<a href="http://www.stanford.edu/search/">Search Stanford</a>
							</li>
							<li class="terms alt">
								<a href="http://www.stanford.edu/site/terms.html">Terms of Use</a>
							</li>
							<li class="copyright">
								<a href="http://www.stanford.edu/site/copyright.html">Copyright Complaints</a>
							</li>
						</ul>
					</div>
					<!-- .bottom-text end -->
					<p class="copyright vcard">
						<span class="fn org">&copy; Marcelo Moreira &mdash; Powered by <a href="http://getpelican.com/">Pelican</a> &amp; <a href="http://python.org/">Python</a>, using the <a href="http://blahblah/">stanfordu</a> theme, by <a href="http://blahblah/">Marcelo Moreira</a>.</span>
					</p>
				</div>
				<!-- .row end -->
			</div>
			<!-- .container end -->
		</div>
		<!-- global-footer end -->
		<!-- Global footer snippet end -->

		<!-- InstanceEnd -->
	</body>
</html>
