<!DOCTYPE html>
<html>
	<head>
		<title>BLAH BLAH | Stanford University</title>
		<script type="text/javascript">
			<!--
			if ((window.screen.width < 640) || (window.screen.height < 640)) {
				document.write('<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1">')
			}
			//-->
		</script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="shortcut icon" type="image/x-icon" href="https://www.stanford.edu/favicon.ico">
		<link rel="stylesheet" type="text/css" href="https://www.stanford.edu/su-identity/css/su-identity.css" media="all">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" media="all">
		<link rel="stylesheet" type="text/css" href="https://www.stanford.edu/stanfordmodern/v2.5/css/stanfordmodern.css" media="all">
		<link rel="stylesheet" type="text/css" href="https://www.stanford.edu/stanfordmodern/v2.5/css/ceebox-min.css" media="all">
		<link rel="stylesheet" type="text/css" href="https://www.stanford.edu/stanfordmodern/v2.5/css/mobile.css" media="only screen and (max-width: 640px)">
		<link rel="stylesheet" type="text/css" href="https://www.stanford.edu/stanfordmodern/v2.5/css/print.css" media="print">
		<script type="text/javascript" src="https://www.stanford.edu/stanfordmodern/jquery/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="https://www.stanford.edu/stanfordmodern/v2.5/js/stanfordmodern.js"></script>
		<script type="text/javascript" src="https://www.stanford.edu/stanfordmodern/v2.5/js/jquery.swfobject.js"></script>
		<script type="text/javascript" src="https://www.stanford.edu/stanfordmodern/v2.5/js/jquery.ceebox-min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/custom.css">
		<script type="text/javascript" src="js/custom.js"></script>
	</head>
	<body class="nav sidebar-left">
		<div id="skipnav">
			<a href="#content">Skip navigation</a>
		</div>
		<div id="su-wrap">
			<!-- #su-wrap start -->
			<div id="su-content">
				<!-- #su-content start -->
				<!-- Start #layout -->
				<div id="layout">
					<!-- Start #wrapper -->
					<div id="wrapper">
						<!-- Start #header -->
						<div id="header">
							<div class="container">
								<div id="logo">
									<a href="/" style="border: none;"><img src="https://www.stanford.edu/su-identity/images/stanford-white@2x.png" alt="Stanford" width="160" height="34"></a>
								</div>
								<div id="site">
									<div id="name">
										<a href="/"><span>Marcelo @ Stanford</span><span>&nbsp;</span></a>
									</div>
								</div>
								<div id="search">
									<form id="cse-search-box" action="http://www.stanford.edu/search">
										<div class="searchbox">
											<input name="cx" type="hidden" value="003265255082301896483:sq5n7qoyfh8">
											<input name="cof" type="hidden" value="FORID:9">
											<input name="ie" type="hidden" value="UTF-8">
											<input name="q" type="text">
											<input name="as_sitesearch" type="hidden" value="">
											<!-- Enter your web site domain excluding the http:// portion in the as_sitesearch parameter. E.g. itservices.stanford.edu -->
											<input class="form-submit" name="sa" type="submit" value="Search">
										</div>
									</form>
								</div>
							</div>
						</div>
						<!-- End #header -->

						<!-- Start #nav (Removable) -->
						<div id="nav">
							<ul>
								<li>
									<a href="#">Home</a>
									<ul>
										<li>
											<a href="#">Link 1</a>
										</li>
										<li>
											<a href="#">Link 2</a>
										</li>
										<li>
											<a href="#">Link 3</a>
										</li>
										<li>
											<a href="#">Link 4</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">News &amp; Updates</a>
									<ul>
										<li>
											<a href="#">Link 1</a>
										</li>
										<li>
											<a href="#">Link 2</a>
										</li>
										<li>
											<a href="#">Link 3</a>
										</li>
										<li>
											<a href="#">Link 4</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">What We Do</a>
									<ul>
										<li>
											<a href="#">Link 1</a>
										</li>
										<li>
											<a href="#">Link 2</a>
										</li>
										<li>
											<a href="#">Link 3</a>
										</li>
										<li>
											<a href="#">Link 4</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">Staff</a>
									<ul>
										<li>
											<a href="#">Link 1</a>
										</li>
										<li>
											<a href="#">Link 2</a>
										</li>
										<li>
											<a href="#">Link 3</a>
										</li>
										<li>
											<a href="#">Link 4</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">Contact</a>
									<ul>
										<li>
											<a href="#">Link 1</a>
										</li>
										<li>
											<a href="#">Link 2</a>
										</li>
										<li>
											<a href="#">Link 3</a>
										</li>
										<li>
											<a href="#">Link 4</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<!-- End #nav (Removable) -->

						<!-- Start #toggle (Removable) -->
						<div id="toggle">
							<div id="menu_expand">
								Expand Menus
							</div>
							<div id="menu_hide">
								Hide Menus
							</div>
						</div>
						<!-- End #toggle (Removable) -->

						<!-- Start #container -->
						<div id="container">
							<h1 class=""><!-- InstanceBeginEditable name="Page Title" -->Page Title<!-- InstanceEndEditable --></h1>
							<!-- Start #content -->
							<div id="content">
								<!-- Start #center -->
								<div id="center">
									<!-- InstanceBeginEditable name="content_main" -->
									<!--Optional Breadcrumb Start-->
									<div class="breadcrumb">
										<a href="#">Main Page</a> » <a href="#">Sub Page</a> » Current Page
									</div>
									<!--Optional Breadcrumb End-->
									<h2 id="c1">Heading</h2>
									<p>
										Praesent faucibus molestie orci. Vestibulum tincidunt tellus vel nisi. Morbi sed est at odio faucibus tempor. Vestibulum faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque eu odio sit amet nunc dictum consectetuer.
									</p>
									<h3>Sub-Heading</h3>
									<p>
										Vivamus sollicitudin, nulla eget dictum feugiat, nunc leo facilisis felis, a lacinia dui velit eget nibh. Etiam bibendum orci non ante. Quisque iaculis ligula sit amet dui lobortis laoreet. Fusce elit pede, rutrum vel, ultrices nec, sollicitudin ut, nunc. Nulla facilisi.
									</p>
									<h2 id="c2">Heading</h2>
									<p>
										Donec sollicitudin pharetra diam. Aliquam egestas tellus a elit. Phasellus et sem. Nulla nec lectus. Cras lobortis, enim nec dignissim condimentum, dui mi venenatis purus, at ullamcorper massa ipsum sed sapien. Proin fringilla sodales nunc. Suspendisse mollis tortor id nisi.
									</p>
									<!-- InstanceEndEditable -->
								</div>
								<!-- End #center -->

								<!-- Start #sidebar-left (Removable) -->
								<div id="sidebar-left" class="sidebar">
									<!-- InstanceBeginEditable name="sidebar_notice" -->
									<h2>Notice</h2>
									<p class="introduction">
										Vivamus augue. Quisque non tellus. Aenean ullamcorper semper ligula. Curabitur odio. Ut neque. Sed eget est. Nunc sit amet urna. Donec lectus nisi, tempus nec, consectetuer ac, interdum id, velit.
									</p>
									<h2>Information</h2>
									<img src="https://www.stanford.edu/stanfordmodern/images/graphics/149x50.gif" class="imagewide" alt="">
									<p>
										Cras interdum ultricies elit, sit amet egestas risus rutrum at. Nam malesuada porta sem, id tristique lectus malesuada quis
									</p>
									<ul>
										<li>
											<a href="#">Link 1</a>
										</li>
										<li>
											<a href="#">Link 2</a>
										</li>
										<li>
											<a href="#">Link 3</a>
										</li>
									</ul>
									<!-- InstanceEndEditable -->
								</div>
								<!-- End #sidebar-left (Removable) -->

								<div class="content_clear"></div>
							</div>
							<!-- End #content -->
						</div>
						<!-- End #container -->
					</div>
					<!-- End #wrapper -->
				</div>
				<!-- End #layout -->
			</div>
			<!-- #su-content end -->
		</div>
		<!-- #su-wrap end -->

		<!-- Global footer snippet start -->
		<div id="global-footer">
			<div class="container">
				<div class="row">
					<div id="bottom-logo" class="span2">
						<a href="http://www.stanford.edu" style="border: none;"> <img src="https://www.stanford.edu/su-identity/images/footer-stanford-logo@2x.png" alt="Stanford University" width="105" height="49"> </a>
					</div>
					<!-- #bottom-logo end -->
					<div id="bottom-text" class="span10">
						<ul>
							<li class="home">
								<a href="http://www.stanford.edu">SU Home</a>
							</li>
							<li class="maps alt">
								<a href="http://visit.stanford.edu/plan/maps.html">Maps &amp; Directions</a>
							</li>
							<li class="search-stanford">
								<a href="http://www.stanford.edu/search/">Search Stanford</a>
							</li>
							<li class="terms alt">
								<a href="http://www.stanford.edu/site/terms.html">Terms of Use</a>
							</li>
							<li class="copyright">
								<a href="http://www.stanford.edu/site/copyright.html">Copyright Complaints</a>
							</li>
						</ul>
					</div>
					<!-- .bottom-text end -->
					<div class="clear">
						&nbsp;
					</div>
					<p class="copyright vcard">
						© <span class="fn org">Marcelo Moreira</span>
					</p>
				</div>
				<!-- .row end -->
			</div>
			<!-- .container end -->
		</div>
		<!-- global-footer end -->
		<!-- Global footer snippet end -->

		<!-- InstanceEnd -->
	</body>
</html>